
p { text-align:justify; }
a:link, a:visited { text-decoration: underline; color: #a5bcff;	}
a:hover, a:active { text-decoration: none; color: #ff9600; }
li { text-decoration: none; list-style-type: none; display: block; color: #fff; }



/*------ specific divs --------------------------------------------------------------*/

.page-wrapper {
	text-align: center;
	color: #ffe81f;	
}

body{
	font-family: Arial, Helvetica, sans-serif;
    background:url(Stars.gif);
    background-size:cover;
	font-size: 2rem;
	margin: auto;
	width: 1920px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(250px) rotateX(10deg);
	overflow: hidden;
}