
p { text-align:justify; }
a:link, a:visited { text-decoration: underline; color: #a5bcff;	}
a:hover, a:active { text-decoration: none; color: #ff9600; }
li { text-decoration: none; list-style-type: none; display: block; color: #fff; }



/*------ specific divs --------------------------------------------------------------*/

.page-wrapper {
	text-align: center;
	color: #ffe81f;
  margin-bottom: -2000px;
  /* overflow-y: scroll; */
  /* perspective: 1200px; */
}


.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

body {
  /* width: 100%;
  height: 100%; */
  /* margin-top: -400px;  */
  background: #000;
  background:url(Stars.gif);
  background-size:cover;
  background-attachment: fixed;
  justify-content: center;
  /* overflow:hidden; */
  /* position: relative; */
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  perspective:1200px;       
}

@supports (animation-timeline:scroll()) {
  .page-wrapper {
      position: relative;
      /* top: 99999px; */
      transform-origin: 50% 100%;
      animation: crawl linear both;
      animation-timeline: scroll();
  }
}
  
  

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-500px);
  }
}



