
p { text-align:justify; }
a:link, a:visited { text-decoration: underline; color: #a5bcff;	}
a:hover, a:active { text-decoration: none; color: #ff9600; }
li { text-decoration: none; list-style-type: none; display: block; color: #fff; }



/*------ specific divs --------------------------------------------------------------*/

.page-wrapper {
	text-align: center;
	color: #ffe81f;	
}

body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  background:url(Stars.gif);
    background-size:cover;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

body {
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  perspective: 400px;
}

.page-wrapper{
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}



